{%load static%}
<!DOCTYPE html>
<html>
<title>Blog | Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%} ">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">

        </div>
        <div class="w3-container">
        	<h1 class="w3-margin-right"><b>  Dashboard</b></h1>
          <p><a href="{% url 'post_list'%}"><i class="fa fa-paper-plane-o w3-margin-right w3-large w3-text-teal"></a></i>Ver Blog</p>
          <p>
            <a href="{% url 'add'%}"><i class="fa fa-calendar-plus-o w3-margin-right w3-large w3-text-teal" ></i></a>Adicionar Post
          </p>
          <p><a href="{% url 'logout'%}"><i class="fa fa fa-power-off w3-margin-right w3-large w3-text-teal"></a></i>Sair</p>
          <hr>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
      	<br>
        
        <table class="w3-table">
          {%for posts in post%}
            <tr> 
              <td>{{posts.title}}</td>
              <td>
                <a href="{% url 'update' posts.id %}"><i class="fa fa-pencil-square-o w3-large w3-text-teal  w3-margin-right"></i></a>
                <a href="{% url 'delete' posts.id %}"><i class="fa fa-calendar-times-o w3-large w3-text-teal"></i></a>
              </td>
            </tr>
          {%endfor%}
        </table>
        <br>
        {%include 'pagination.html' with page=post%}
    <br><br>
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
    </div>
  
  <!-- End Page Container -->
  </div><br><br><br><br><br><br><br>

    <footer class="footer w3-teal">
      <div class="container">
          <div class="row">
            <div class="col-md"></div>

            <div class="col-md">
                <span class="text-muted w3-display-middle">Sistema em Django 2.x</span>
            </div>
            
            <div class="col-md"></div>
          </div>
        
      </div>
    </footer>
</body>
</html>
